.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000030;
}

.modal.open {
    display: block;
}

.leaderboardSubmit form {
    margin: 1rem;
}

.leaderboardSubmit {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5%;
    font-size: 20px;
}

#name {
    border-radius: 15px;
    width: 12rem;
    height: 34px;
}

.submitName {
    background-color: #6FBBDB;
    border-radius: 15px;
    padding: 0.3rem;
    font-size: 1.5rem;
    font-family: "Love Ya Like A Sister", cursive;
}
.modal-content {
    display: flex;
    flex-direction: column;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    font-family: "Love Ya Like A Sister", cursive, sans-serif;
    background-color: #6fbbdb;
    border-radius: 1rem;
}

.close {
    color: #ffffff;
    font-size: 40pt;
}

.close:hover,
.close:focus {
    color: #000000FF;
    text-decoration: none;
    cursor: pointer;
}

.dogImg {
    background-image: url('dogimg7.png');
}

.pawImg {
    background-image: url('blackPawPrintTransparentBackground.png');
}

.instructionText {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.instructionText {
    margin: 0;
    padding: 0.2rem;
}

.instructionText p {
    margin: 0.75rem;
    font-size: 1.4rem;
}

.modalTop h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.modalTop {
    text-align: center;
    padding: 0 50px;
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
}

.gameOverBtns {
    display: flex;
    justify-content: space-evenly;
    padding: 0 5rem;
    align-items: center;
}


body{
    background-color: #88AD63;
    font-family: "Love Ya Like A Sister", cursive;
}

.titles{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.gameTitle{
    font-size: 4.5rem;
}

.levelNum{
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.gameBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    width: 12rem;
    height: 12rem;
    margin: 1rem;
    background-color: #FAEBD7;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #445632;
    background-size: contain;
}

.buttons{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

button{
    background-color: #6FBBDB;
    border-radius: 15px;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: "Love Ya Like A Sister", cursive;
}

button:hover {
    background-color: #FAEBD7;
}

.leaderboard {
    display: flex;
    justify-content: center;
}

th {
    text-align: left;
    font-size: 1.2rem;
}

th, td {
    padding: 0.2rem 0.5rem;
    text-align: center;
}